.root {
    -fx-background-image: url('resources/images/bg2.jpg');
    -fx-background-position: center, top right;
    -fx-background-repeat: no-repeat, no-repeat;
    -fx-background-size: auto, auto 100%;
}

HBox {
    -fx-alignment: center ;
    -fx-padding: 10 ;
    -fx-spacing:10;
}

.label {
    -fx-text-fill: #fff;
    -fx-font-size: 32;
    
    -fx-font-weight: bold;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}


/*headers*/

.label#titleLabel {
    -fx-text-fill: #146eff;
    -fx-font-weight: bold;
    -fx-font-size: 36;
}


#mainFlow .label#titleLabel {
    -fx-font-size: 32;
}


/*menu tiles*/

.button.btnTile {
    -fx-pref-width: 160px;
    -fx-pref-height: 160px;  
    -fx-background-color: rgba(0,200,0,0);

    -fx-border-color: #ccc;
    -fx-border-width: 5;
    -fx-stroke-line-cup: butt;
    -fx-cursor: hand;
    -fx-opacity: 0.8;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 18;

}
.button.btnTile:hover {
    -fx-opacity: 1.0;
    -fx-background-color: rgba(255,255,255,0.1);
    -fx-text-fill: #fff;
}

/*return btn*/

.icons{
    -fx-font-family: FontAwesome;
    -fx-font-size: 16px;
}
.button.icons {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
#gobackBtn {
    -fx-cursor: hand;
    -fx-text-align: right;
    -fx-pref-width:40;
    -fx-padding:1;
    -fx-font-size: 16;
    -fx-opacity: 0.7;
}
#gobackBtn:hover {
    -fx-font-size: 20;
    -fx-opacity:0.9;
}



/*tabs look*/

.jfx-tab-pane .tab-header-area .jfx-rippler{
    -fx-rippler-fill:#173d7a;
}

.jfx-tab-pane .tab-header-background{
    -fx-background-color:#111;
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: #1b57b7;
    -fx-stroke-width: 3pt;
}




/*choose tournament view*/

.button.tournamentBtn {
    -fx-pref-width: 600px;
    -fx-pref-height: 50px;  
    -fx-background-color: rgba(0,200,0,0);
    -fx-border-color: #ccc;
    -fx-border-width: 5;
    -fx-stroke-line-cup: butt;
    -fx-cursor: hand;
    -fx-opacity: 0.8;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-font-size: 20;
}
.button.tournamentBtn:hover {
    -fx-opacity: 1.0;
    -fx-background-color: rgba(255,255,255,0.1);
}

.button.tournamentBtn.current {  
    -fx-border-color: #146eff;
}
.button.tournamentBtn.current:hover {
    -fx-opacity: 0.8;
    -fx-background-color: rgba(255,255,255,0);
}

/*jfx buttons*/
.button {
 
    -fx-font-size: 14px;

    -fx-background-color: rgb(64,97,10);
/*    -fx-margin: 1em 0em;*/
    -fx-text-fill: rgba(255,255,255,0.8);
    -fx-font-weight:bold;

    -fx-cursor: hand;
-fx-padding: 0.7em 0.57em;
    -fx-font-size: 24px;
    -jfx-button-type: RAISED;
/*    -fx-background-color: rgb(77,102,204);*/
    -fx-pref-width: 200;
    -fx-text-fill: WHITE;

}

.button:focused {
    -fx-background-color: rgb(64,97,10);
}
.button:hover {
    -fx-background-color: rgb(88,126,28);
    -fx-text-fill: rgba(255,255,255,1)
}
